asgiref==3.5.0
atomicwrites==1.4.0
attrs==21.4.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
defusedxml==0.7.1
Django==4.0.2
django-environ==0.8.1
django-rest-framework==0.1.0
djangorestframework==3.13.1
djangorestframework-csv==2.1.1
flake8==4.0.1
httpie==3.1.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
mccabe==0.6.1
multidict==6.0.2
packaging==21.3
Pillow==9.0.1
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.11.2
pyparsing==3.0.7
PySocks==1.7.1
pytest==7.0.0
pytest-django==4.5.2
pytz==2022.1
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
sqlparse==0.4.2
tomli==2.0.1
tzdata==2021.5
unicodecsv==0.14.1
urllib3==1.26.9
